In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
veri=pd.read_excel("bisiklet_fiyatlari.xlsx")

In [5]:
veri.head()

        Fiyat  BisikletOzellik1  BisikletOzellik2
0  807.673876       1749.628226       1749.590668
1  959.227520       1748.007826       1751.824206
2  718.020033       1750.122967       1747.977026
3  945.668885       1749.916440       1750.771646
4  955.542968       1750.780519       1750.592430

In [6]:
y=veri["Fiyat"].values

In [9]:
X=veri[["BisikletOzellik1","BisikletOzellik2"]].values

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=15)

In [13]:
X_train

array([[1748.374239, 1751.217187],
       [1751.580415, 1753.658535],
       [1750.727042, 1745.942278],
       ...,
       [1747.497907, 1750.085896],
       [1753.042364, 1746.84704 ],
       [1749.557564, 1746.592948]])

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
import tensorFlow as tf

ModuleNotFoundError: No module named 'TensorFlow'