In [18]:
import numpy as np
import pandas as pd

In [26]:
liste1=["burak","yasin","enis"]
liste2=[20,30,40]
my_tuples=list(zip(liste1,liste2))
tablo=pd.MultiIndex.from_tuples(my_tuples)
arrayim=np.array([[10,"A"],[20,"B"],[30,"C"]])
listeDataFrame=pd.DataFrame(data=arrayim,index=tablo,columns=["puanı","sınıfı"])

In [27]:
listeDataFrame

         puanı sınıfı
burak 20    10      A
yasin 30    20      B
enis  40    30      C