In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
veri=pd.read_excel("bisiklet_fiyatlari.xlsx")

In [7]:
veri.head()

        Fiyat  BisikletOzellik1  BisikletOzellik2
0  807.673876       1749.628226       1749.590668
1  959.227520       1748.007826       1751.824206
2  718.020033       1750.122967       1747.977026
3  945.668885       1749.916440       1750.771646
4  955.542968       1750.780519       1750.592430

In [8]:
#x data
#y label

In [9]:
X=veri[["BisikletOzellik1","BisikletOzellik2"]].values

In [10]:
y=veri["Fiyat"].values

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=15)

In [12]:
X_train.shape

(670, 2)

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [15]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

ModuleNotFoundError: No module named 'tensorflow'